#contato {
    position: relative;

    .content {
        padding: 40px 0;

        h1 {
            font-size: 50px;
            font-weight: 300;
            position: relative;
            padding-bottom: 25px;
            margin-bottom: 20px;

            &::after {
                content: "";
                display: inline-block;
                width: 6rem;
                border-bottom: 2px solid #99a833;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .form {
            form {
                input {
                    background: #f4f4f4;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 14px 10px;
                    border-radius: 0;
                    border: none;
                    line-height: 1em;
                    height: 3em;
                }

                textarea {
                    background: #f4f4f4;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 14px 10px;
                    border-radius: 0;
                    border: none;
                    line-height: 1em;
                }

                button {
                    background: #99a833;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 12px 30px;
                    border-radius: 0;
                    border: none;
                    line-height: 1em;

                    &:hover {
                        background-color: #8b9736;
                    }
                }
            }
        }

        .map {
        }
    }
}
